
.box{width:1200px;margin: 0 auto;height: 4120px;}
.box .bl{width: 1000px;height: 3785px;float: left;}
.box .bl .box1{width: 981px;height: 401px;padding-bottom: 20px;}
.box .bl .box1 .b1{width: 280px;height: 80px;border:1px solid transparent;padding: 20px;float: left;margin-top: 5px !important;background: #f5f5f5;margin-right: 5px;}
.box .bl .box1 .b1 img{width: 80px;height: 80px;margin-right: 5px;}
.box .bl .box1 .b1 dl{width: 180px;float: right;}
.box .bl .box1 .b1 dl dt{margin: 4px 0;margin-left: 15px;line-height: 16px;font-size: 16px;}
.box .bl .box1 .b1 dl dt a{color: #333333;}
.box .bl .box1 .b1 dl dt a:hover{color: #f55756;}
.box .bl .box1 .b1 dl dd div{width: 100%;float: left;}
.box .bl .box1 .b1 dl dd div a{color: #999999;padding: 0 14px;border-right: 1px solid #cccccc;line-height: 12px;float: left;margin-top: 8px;font-size: 12px;}
.box .bl .box1 .b1 dl dd div a:last-child{border-right: none;}
.box .bl .box1 .b1 dl dd div a:hover{color: #f55756;}
.box .bl .box1 .b1:hover{background: white;}

.box .bl .box2{overflow: visible;background: #f8f8f8;width: 968px;border: 1px solid #e8e8e8;margin-bottom: 20px;height: 36px;}
.box .bl .box2 .hd{float: left;line-height: 34px;}
.box .bl .box2 .hd a{padding: 0 10px;margin: 0 10px;color: #666666;cursor: pointer;line-height: 12px;}
.box .bl .box2 .hd a.on{color: #f55756;}
.box .bl .box2 .hd a:hover{color: #f55756;}
.box .bl .box2 .hd .hLine{background: #cccccc;width: 1px;height: 12px;display: inline-block;}

.box .bl .box3{width: 1000px;height: 3192px;float: left;}
.box .bl .box3 dl{width: 220px;margin: 0px 30px 30px 0px;float: left;}
.box .bl .box3 dl dt img{width: 220px;height: 220px;border: none;}
.box .bl .box3 dl dt img:hover{opacity: 0.9;}
.box .bl .box3 dl dd{padding: 10px;border:1px solid #e8e8e8;border-top: 0;}
.box .bl .box3 dl dd p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.box .bl .box3 dl dd p.pri .fl{color: #f55756;margin-top: 6px;font-size: 14px;}
.box .bl .box3 dl dd p.pri .fl em{font-size: 18px;}
.box .bl .box3 dl dd p.pri span{color: #999999;font-size: 12px;margin-top: 11px;}
.box .bl .box3 dl dd p.pri .fr .i4{font-size: 12px;padding: 0 5px;}

.box .br{width: 200px;height: 1406px;float: right}
.box .br h4{width: 200px;height: 20px;font-size: 20px;color: #333333;border-left: 3px solid #f55756;padding-left: 10px;line-height: 20px;}
.box .br .bxr{width: 200px;height: 1386px;}
.box .br .bxr dl{width: 200px;height: 257px;margin-top: 20px;}
.box .br .bxr dl dt{width: 200px;height: 200px;}
.box .br .bxr dl dt img{width: 200px;height: 200px;border: none;}
.box .br .bxr dl dt img:hover{opacity: 0.8;}
.box .br .bxr dl dd{padding: 10px;border:1px solid #e8e8e8;border-top: 0;}
.box .br .bxr dl dd p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.box .br .bxr dl dd p.pri .fl{color: #f55756;margin-top: 6px;font-size: 14px;}
.box .br .bxr dl dd p.pri .fl em{font-size: 18px;}
.box .br .bxr dl dd p.pri span{color: #999999;font-size: 12px;margin-top: 11px;}
.box .br .bxr dl dd p.pri .fr .i4{font-size: 12px;padding: 0 5px;}


.pages {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    clear: both;
    padding-bottom: 80px;
}
.pages ul a.current {
    background: #f55756;
    color: #fff;
    border: 1px solid #f55756;
    z-index: 1;
}
.pages ul a:first-child {
    margin-left: 0;
}
.pages ul{
    width: auto;
    float: left;
    margin-left: 460px;
}
.pages ul a {
    line-height: 34px;
    min-width: 34px;
    display: inline-block;
    margin-left: -1px;
    border: 1px solid #e7e7e7;
    position: relative;
    
}
.pages span {
    width: 78px;
    height: 34px;
    border: 1px solid #e7e7e7;
    line-height: 34px;
    color: #666;
    float: left;
}